#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
}

.hdr{
  height: 20vh;
  border-bottom: 2px solid;
}

.main{
  display: flex;
  justify-content: stretch;
  height: 100%;
}

.nav{
  border-right: 2px solid;
  flex-grow: 1;
}

.page{
  flex-grow: 3;
}